/* Write the CSS for you answer here */


.totalbox {
    position: relative;
}

#tree {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;

}

#background {
    width: 100%;
    z-index: 0;
}

#blue {
    position: absolute;
    left: 20%;
    top: 40%;
    z-index: 3;
}


#pink {
    position: absolute;

    top: 66%;
    left: 60%;
    z-index: 1;

}

#green {
    position: absolute;

    top: 45%;
    left: 60%;

    z-index: 3;
}

#red {
    position: absolute;

    top: 70%;
    left: 10%;

    z-index: 3;
}

#orange {
    position: absolute;

    top: 65%;
    left: 90%;

    z-index: 3;
}


#darkblue {
    position: absolute;

    top: 50%;
    left: 45%;

    z-index: 3;
}

img#tree {
     pointer-events: none;
 }

.ball {
    width: 50px;
    transition: width 2s;
    /*-webkit-transition: width 2s;*/
    /*transition-duration: 2s;*/
}

.ball:hover {
    width: 100px;
}

#test {

    background-image: url("assets/red.png");
    width: 200px;
    height: 200px;
    -webkit-transition: width 5s;

}

#test:hover {
    width: 300px;
}






